<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('../template/head')-%>
</head>

<body>
    <%- include('../template/header')-%>

    <main>
        <form action="/showadd" method="POST">
    <ul>
        <% data.forEach(book=>{ %>
            <li><img src=<%=book.image_url%> alt="image"></li>
            <li><h3>Title: <%=book.title%></h3></li>
            <li><h4>Author: <%=book.author%></h4></li>
            <li><h4> ISBN : <%=book.isbn%></h4></li>
            <li><p>Description: <%=book.description%></p></li>
            <li><strong> Published Date: <%=book.date%></strong></li>
            <form action="/showadd" method="POST">
            <input type="hidden" name="image_url" id="image_url" value='<%= book.image_url %>'>
            <input type="hidden" name="title" id="title" value='<%= book.title %>'>
            <input type="hidden" name="author" id="author" value='<%= book.author %>'>
            <input type="hidden" name="description" id="description" value='<%= book.description %>'>
            <input type="hidden" name="isbn" id="isbn" value='<%= book.isbn %>'>
            <button type="submit">Add to Collection</button>
          </form>
        </li>
     <% }) %>

    </ul>
    <input type="submit" value="Submit all selected books">
</form>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</html>